<!DOCTYPE html>
<html lang="en">
<head>
     <link rel="stylesheet" type="text/css" href="/home/kursad/Documents/springframework/udemy/courses/springcore/springmvc/src/main/resources/static/styles.css"  >

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Get Form.IO-WORKSHOP</title>
</head>


<style></style>
<body>

<div id="home-layout" >
    <header class="main-header">
        <ul>
            <li>
                DOCS
            </li>

            <li>
                BLOG
            </li>
        </ul>
        <ul>
            <li>
                LOGO
            </li>


        </ul>
        <ul>
            <li>
                SIGN UP
            </li>

            <li>
                LOGIN
            </li>
        </ul>

    </header>

</div>
</body>
</html>